body{
  margin: 0;
}

nav{
  position: absolute;
  top: 0;
  background-color: black;
  min-height: 2rem;
  color: #cccccc;
  width: 100%;
}

.hotelimage{
  background-image: url('../images/Hotel_image.jpg');
  background-repeat: no-repeat;
  background-color: #cccccc;
  width: 55rem;
  height: 30rem;
  margin: auto;
  padding: 0;
}

.Availability_Bar{
  width: 53rem;
  margin: auto;
  margin-top: 2.5rem;
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  color: silver;
  
}
.white{
  color: white;
}

.inline{
  display: inline-block;
  margin: 0rem;
}

.Browse{
  width: 55rem;
  margin: auto;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dropdownmenu{
  display: none;
}
#typeofroom:hover{
  cursor: pointer;
}
#typeofroom:hover .dropdownmenu{
  display: block;
  cursor: pointer;
}

.checkmyhotel{
  padding: 0.5rem;
  width: 8rem;
  margin-left: 0;
  margin-right: 0;
  background-color: antiquewhite;
}

.checkmyhotel:hover{
  cursor: pointer;
  background-color: bisque;
}